Host *
  ControlMaster auto
  ControlPath /tmp/.ssh/ctl/control-%h-%p-%r
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  User cassandra
  Port 2222
  IdentityFile /var/run/secrets/ssh/privateKey
